Sphinx
sphinx_rtd_theme
sphinx_rtd_theme_ext_color_contrast
myst_nb
https://github.com/coderefinery/sphinx-lesson/archive/rkdarst/exercise-list.zip
https://github.com/coderefinery/sphinx-coderefinery-branding/archive/master.zip
