sphinx
sphinx_rtd_theme >= 2.0
sphinx_rtd_theme_ext_color_contrast
myst_nb
# Remove once new sphinx-copybutton is released ( > 0.5.0)
git+https://github.com/rkdarst/sphinx-copybutton.git@exclude-unselectable-3
sphinx-lesson
https://github.com/coderefinery/sphinx-coderefinery-branding/archive/master.zip
