<h2>Overview</h2>

<div class="row">
    <div class="col-md-3">
        {% if page.teaching %}
            <strong>Teaching:</strong> {{ page.teaching }} min
        {% endif %}
        {% if page.exercises %}
            <br/>
            <strong>Exercises:</strong> {{ page.exercises }} min
        {% endif %}
        {% if page.break %}
            <br/>
            <strong>Break:</strong> {{ page.break }} min
        {% endif %}
    </div>
    <div class="col-md-9">
        {% if page.questions %}
            <strong>Questions</strong>
            <ul>
                {% for question in page.questions %}
                    <li>{{ question }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if page.objectives %}
            <strong>Objectives</strong>
            <ul>
                {% for objective in page.objectives %}
                    <li>{{ objective }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
