{% assign current = site.start_time %}

<h2>Schedule</h2>

<table class="table table-striped">
    {% for episode in site.episodes %}
        {% assign hours = current | divided_by: 60 %}
        {% assign minutes = current | modulo: 60 %}
        <tr>
            <td class="col-md-1">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
            <td class="col-md-3">
                <a href="{{ site.baseurl }}{{ episode.url }}">{{ episode.title }}</a>
            </td>
            <td class="col-md-7">
                {% if episode.break %}
                    Break
                {% else %}
                    {% if episode.questions %}
                        {% for question in episode.questions %}
                            {{ question }}
                            {% unless forloop.last %}
                            <br/>
                            {% endunless %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% assign current = current | plus: episode.teaching | plus: episode.exercises | plus: episode.break %}
    {% endfor %}
    {% assign hours = current | divided_by: 60 %}
    {% assign minutes = current | modulo: 60 %}
    <tr>
        <td class="col-md-1">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
        <td class="col-md-3">Finish</td>
        <td class="col-md-7"></td>
    </tr>
</table>
