/* A minimal version of lesson.scss from https://github.com/swcarpentry/workshop-template/
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 *
 */


.callout {
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	border: 1px solid;
	border-color: #f4fd9c;
	padding-bottom: 5px;
}

.callout h2 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	background: linear-gradient(to bottom, #f4fd9c, #f5fda6);
	border-color: #f4fd9c;
	margin-top: 0px;
	margin-left: -5px;
}

.callout h2:before {
	font-family: 'Glyphicons Halflings';
	content: "";
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}

.challenge {
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	border: 1px solid;
	border-color: #eec275;
	padding-bottom: 5px;
}

.challenge h2 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	background: linear-gradient(to bottom, #eec275, #f0c883);
	border-color: #eec275;
	margin-top: 0px;
	margin-left: -5px;
}

.challenge h2:before {
	font-family: 'Glyphicons Halflings';
	content: "✏";
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}



code {
	padding: 0 0;
	color: inherit;
	background-color: inherit;
}

img {
	max-width: 100%;
}
